@font-face {
	font-family: "Maxa Grotesk"; 
	src: url("../fonts/Maxa-Grotesk-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Maxa Grotesk"; 
	src: url("../fonts/Maxa-Grotesk-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
	overflow-x:hidden;
}
body.maxa-trefa {
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Maxa Grotesk", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 23px;
	color: #000;
	background: 
        /* Velká rozlitá záře #6000BF táhnoucí se zleva nahoru */
        radial-gradient(circle at 15% 10%, rgba(96, 0, 191, 0.9) 0%, rgba(51, 0, 123, 0.4) 50%, transparent 70%),
        /* Základní sjednocený fialový přechod */
        linear-gradient(135deg, #6000BF 0%, #33007B 60%, #1a0038 100%);
    background-attachment: fixed;
	scroll-behavior: smooth;
}
.maxa-trefa .title-h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 10px 4px #000000;
	margin: 0 0 20px;
}
.maxa-trefa .title-h2 {
	color: #fff;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 6px 4px #000000;
	margin: 0 0 10px;
}
.maxa-trefa .title-h3 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	margin: 0 0 25px;
}
.maxa-trefa .section-title-h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	margin: 0 0 20px;
}
.maxa-trefa .section-title-h2 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px;
}
.maxa-trefa p {
	color: #fff;
	text-align: left;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.6;
	margin: .5em 0;
	word-break: break-word;
}
.maxa-trefa a {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}
.container {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1200px;
	}
}

/* Site header */
.maxa-trefa .site-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	justify-content: top;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}
/* Site header end */

/* Mobile menu */
.maxa-trefa .menuItem {
	display: block;
	margin: 2rem 1.5rem;
}
.maxa-trefa .menuItem:hover {
	text-decoration: underline;
}
.maxa-trefa .hamburger {
	position: relative;
	z-index: 100;
	top: 0;
	right: 0;
	padding: 4px;
	border: 0;
	background: transparent;
	cursor: pointer;
}
.maxa-trefa .closeIcon {
	display: none;
}
.maxa-trefa .menu {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	-o-transition: transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
	z-index: 99;
	background: #502983;
	color: #fff;
	list-style: none;
	padding-top: 4rem;
}
.maxa-trefa .menu.showMenu {
	display: block !important;
}
.maxa-trefa .svg-menu-close {
	display: none;
}
.maxa-trefa .svg-menu {
	display: block;
}
.maxa-trefa .navigation-wrapper-mobile {
	display: block;
	position: relative;
	height: auto;
	width: 100%;
	z-index: 99;
	background-color: #502983;
}
.maxa-trefa .navigation-wrapper-mobile .navigation-modify-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	padding: 1em;
}
.maxa-trefa .navigation-wrapper-mobile .logo-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 15px;
}
.maxa-trefa .navigation-wrapper-mobile .logo-top a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.maxa-trefa .navigation-wrapper-mobile .logo-mobile-inner .logo-top img {
	width: 100px;
	height: auto;
}
.maxa-trefa .navigation-wrapper-mobile nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.maxa-trefa .navigation-wrapper-mobile ul {
	margin: 0;
	padding: 0;
}
/* Mobile menu end */
/* Desktop menu */
.maxa-trefa .navigation-wrapper-desktop .logo-top img {
	width: 260px;
	height: auto;
}
.maxa-trefa .navigation-wrapper-desktop nav li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.maxa-trefa .navigation-wrapper-desktop {
	display: none;
}
.maxa-trefa .navbar-scrolled {
	background-color: #6000bf;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.maxa-trefa .navigation-wrapper-desktop .navigation-modify-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	width: 100%;
}
.maxa-trefa .navigation-wrapper-desktop ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 13px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.maxa-trefa .navigation-wrapper-desktop nav .orange-color,
.maxa-trefa .navigation-wrapper-mobile nav .orange-color {
	color: #FFB233;
}
.maxa-trefa .navigation-wrapper-desktop nav a,
.maxa-trefa .navigation-wrapper-mobile nav a {
	position: relative;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .3px;
	line-height: 1.5;
	text-decoration: none;
	text-transform: uppercase;
}
.maxa-trefa .navigation-wrapper-desktop nav a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	bottom: 0;
	left: 0;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.maxa-trefa .navigation-wrapper-desktop nav a:hover:before {
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
.maxa-trefa .navigation-wrapper-desktop nav .link-item-update:hover:before {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}
/* Desktop menu end */

.maxa-trefa .section {
	position: relative;
	width: 100%;
	max-width: 100%;
	scroll-margin-top: 50px;
}

/* MAIN */
/* --- HERO SECTION --- */
.maxa-trefa .hero-section {
	width: 100%;
	padding: 35px 0 35px 0;
	background-color: #6000BF;
	background-image: url('../img/podkladovy-obrazek-hlavicka.png');
	background-size: cover;
	background-position: center;
	position: relative;
}

.maxa-trefa .hero-container {
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
		flex-wrap: wrap;
		justify-content: center;
	align-items: center;
	
	gap: 0;
}

.maxa-trefa .hero-content {
	flex: 1 1 100%;
  max-width: 100%;
  text-align: center;
}

.maxa-trefa .hero-content .hero-title {
	color: #ffffff;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 25px;
	padding: 0 0 20px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.5);
}

.maxa-trefa .hero-content .badge-challenge {
	color: #ffffff;
	font-weight: 700;
	font-size: 2.5rem;
	letter-spacing: 1.5px;
	display: block;
	margin-bottom: 8px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.5);
}

.maxa-trefa .title-highlight {
	color: #FFB233;
}

.maxa-trefa .hero-description {
	color: #ffffff;
	font-size: 1.05rem;
	line-height: 1.5;
	font-weight: 400;
	max-width: 400px;
}

.maxa-trefa .hero-person {
	flex: 0 1 600px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: -35px;
	margin-bottom: -5px;
}

.maxa-trefa .person-img {
	width: 100%;
	max-width: 600px;
	height: auto;
	display: block;
}

.maxa-trefa .badge-prize {
	position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFB233;
    color: #6000BF;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 5px 14px;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.maxa-trefa .prize-title {
	color: #ffffff;
	font-size: 1.15rem;
	font-weight: 700;
	line-height: 1.25;
	padding: 0 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-shadow: none;
}

.maxa-trefa .text-yellow {
	color: #FFB233;
}

.maxa-trefa .prize-image-wrapper {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}

.maxa-trefa .prize-main-img {
	width: 100%;
	height: auto;
	display: block;
}

.maxa-trefa .prize-features {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 10px;
	gap: 0;
}

.maxa-trefa .feature-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 0 2px;
	border-right: 1px solid #3d1575;
}
.maxa-trefa .feature-item:last-child {
	border-right: none;
}

.maxa-trefa .feature-icon {
	width: 22px;
	height: 22px;
	stroke: #ffffff;
}

.maxa-trefa .feature-item span {
	font-size: 0.65rem;
	font-weight: 700;
	color: #ffffff;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
}

.maxa-trefa .info-bar-section {
	margin: -45px auto -70px auto;
	padding: 0 0 80px;
	position: relative;
	z-index: 10;
}

.maxa-trefa .info-bar-container {
    background: 
        linear-gradient(to right, 
            #c89b27 0%, 
            #e2b13c 15%, 
            #f9df7b 40%, 
            #fbe88c 45%, 
            #e5b43d 70%, 
            #b8881e 100%
        );
    border-radius: 16px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.maxa-trefa .info-bar-item {
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 0 15px 0;
}

.maxa-trefa .info-bar-item:last-child {
  padding-bottom: 0;
}

.maxa-trefa .info-bar-item .hlasujte-ikona {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
}

.maxa-trefa .info-text {
	display: flex;
	flex-direction: column;
}

.maxa-trefa .info-title {
	color: #6000BF;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
}

.maxa-trefa .info-sub {
	color: #6000BF;
	font-size: 1rem;
	line-height: 1.3;
	margin-top: 3px;
}

.maxa-trefa .countdown-item {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.maxa-trefa .countdown-label {
	color: #6000BF;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.maxa-trefa .countdown-timer {
	display: flex;
	align-items: flex-start;
	gap: 15px;
}

.maxa-trefa .time-unit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.maxa-trefa .countdown-timer .number {
	color: #fff;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1;
    background-color: #2a2a2a;
    padding: 5px;
    border-radius: 3px;
}

.maxa-trefa .countdown-timer .unit-label {
	color: #6000BF;
	font-size: 0.6rem;
	font-weight: 700;
	margin-top: 4px;
	letter-spacing: 0.5px;
}

.maxa-trefa .maxa-video-section {
    width: 100%;
    position: relative;
    padding: 45px 15px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.maxa-trefa .video-container {
	position: relative;
    max-width: 800px;
    box-sizing: border-box;
    z-index: 2;
}

.maxa-trefa .video-container::before,
.maxa-trefa .video-container::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    display: none; 
}

.maxa-trefa .video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #000;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.maxa-trefa .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.maxa-trefa .golden-ball {
    display: none; 
    position: absolute;
    background-image: url('../img/zlaty-fotbalovy-mic.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.maxa-trefa .how-it-works-section {
	padding: 0 0 30px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.maxa-trefa .how-it-works-section .container-bg {
	background: linear-gradient(to right, #c89b27 0%, #e2b13c 15%, #f9df7b 40%, #fbe88c 45%, #e5b43d 70%, #b8881e 100%);
    border-radius: 16px;
    padding: 40px 0;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.maxa-trefa .how-it-works-title {
	color: #6000BF;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin: 0 0 40px;
	text-transform: uppercase;
}

.maxa-trefa .steps-grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;
}

.maxa-trefa .step-card {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	width: 100%;
}

.maxa-trefa .step-card:last-child {
	border-right: none;
}

.maxa-trefa .step-icon-wrapper {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 0;
}

.maxa-trefa .step-icon-wrapper .icon-check {
	width: 50px;
	height: 50px;
	stroke: #6000BF;
}

.maxa-trefa .step-text-inner {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maxa-trefa .step-title {
	color: #6000BF;
	font-size: 1.1rem;
	font-weight: 800;
	margin: 0 0 12px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.maxa-trefa .step-text {
	color: #6000BF;
	font-size: 1rem;
	text-align: center;
	font-weight: 400;
	line-height: 1.45;
	margin: 0;
}

.maxa-trefa .section-title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-bottom: 40px;
}

/* ==========================================================================
   SEKCE SERIE 5 CHALLENGIS PATRIKEM BERGEREM
========================================================================== */

.maxa-trefa .challenges-section {
	width: 100%;
	padding: 20px 0 60px 0;
}

.maxa-trefa .challenges-section .challenges-container {
	margin: 0 auto;
}

.maxa-trefa .challenges-section .challenges-title {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 1px;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.maxa-trefa .challenges-section .challenges-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	align-items: stretch;
}

.maxa-trefa .challenges-section .challenge-card {
  flex: 1;
  min-width: 170px;
  background-image: url('../img/golfova-vyzva-bg.jpg');
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8), 0 15px 35px rgba(0, 0, 0, 0.6);
  padding-top: 0;
}

.maxa-trefa .challenges-section .card-badge {
	position: absolute;
    left: 50%;
    top: -3%;
    transform: translate(-50%, -3%);
	font-size: .75rem;
	font-weight: 700;
	padding: 4px 12px;
	border-radius: 6px;
	text-transform: uppercase;
	margin-bottom: 12px;
	background: #6000BF;
	color: #ffffff;
}

.maxa-trefa .challenges-section .challenge-type {
	font-size: 1.1rem;
	font-weight: 700;
	color: #6000BF;
	text-align: center;
	margin: 0;
	padding: 25px 0 0;
}

.maxa-trefa .challenges-section .publish-date {
	text-align: center;
	font-size: 0.7rem;
	font-weight: 700;
	letter-spacing: 0.3px;
	color: #6000BF;
	text-transform: uppercase;
}

.maxa-trefa .challenges-section .unlocked-content {
	display: block;
	width: 100%;
}

.maxa-trefa .challenges-section .versus-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.maxa-trefa .challenges-section .player {
	flex: 1;
}

.maxa-trefa .challenges-section .player-img {
	width: 100%;
	height: 153px;
	object-fit: contain;
	display: block;
}

.maxa-trefa .challenges-section .player-names {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: .9rem;
	font-weight: 700;
	color: #6000BF;
	line-height: 1.2;
	margin-bottom: 0;
	padding: 16px 5px;
	min-height: 35px;
}

.maxa-trefa .challenges-section .player-names.berger {
	background-color: #ffffff;
	text-align: center;
}

.maxa-trefa .challenges-section .player-names.guest {
	background-color: #6000BF;
	color: #ffffff;
	text-align: center;
}

.maxa-trefa .challenges-section .vs-text {
	position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
	font-size: 1.4rem;
	font-weight: 700;
	color: #6000BF;
	margin-bottom: 25px;
}

.maxa-trefa .challenges-section .card-countdown {
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	color: #6000BF;
	background-color: #9ce3a391;
}

.maxa-trefa .challenges-section .card-countdown-label {
	font-size: .8rem;
	font-weight: 700;
	text-align: center;
	display: block;
	margin-bottom: 5px;
}

.maxa-trefa .challenges-section .card-timer {
	ont-size: 1rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.maxa-trefa .challenges-section .card-timer span {
	color: #ffffff;
	background-color: #2e2e2e;
	padding: 5px;
	font-size: 1.1rem;
	border-radius: 4px;
}

.maxa-trefa .challenges-section .card-timer-units {
	display: flex;
	justify-content: center;
	gap: 15px;
	font-size: .5rem;
	font-weight: 700;
	margin-top: 2px;
}

.maxa-trefa .challenges-section .vote-section {
	width: 100%;
	margin-bottom: 0;
	background: linear-gradient(to right, #c89b27 0%, #e2b13c 15%, #f9df7b 40%, #fbe88c 45%, #e5b43d 70%, #b8881e 100%);
	padding: 10px;
	border-radius: 0 0 15px 15px;
	box-sizing: border-box;
}

.maxa-trefa .challenges-section .vote-label {
	display: block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
	color: #6000BF;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.maxa-trefa .challenges-section .vote-buttons {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
}

.maxa-trefa .challenges-section .btn-vote {
	flex: 1;
	flex-direction: column;
	position: relative;
    display: inline-flex;
    cursor: pointer;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    color: #6000BF;
    font-weight: 700;
    font-size: .8rem;
    width: 90px;
    height: 90px;
    white-space: normal;
    word-break: break-word;
    background-image: url('../img/button.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.maxa-trefa .challenges-section .btn-vote:hover {
    transform: translateY(-2px);
}

.maxa-trefa .challenges-section .challenge-card .card-countdown,
.maxa-trefa .challenges-section .challenge-card .vote-section,
.maxa-trefa .challenges-section .challenge-card .ended-area,
.maxa-trefa .challenges-section .challenge-card .locked-content-box {
	display: none;
}

.maxa-trefa .challenges-section .challenge-card .locked-section,
.maxa-trefa .challenges-section .challenge-card .unlocked-content,
.maxa-trefa .challenges-section .challenge-card .ended-area {
  display: none;
}

/* Aktivní stav */
.maxa-trefa .challenges-section .challenge-card[data-status="active"] {
	background-image: url('../img/podklad-challenge.png');
  background-position: center;
}

.maxa-trefa .challenges-section .challenge-card[data-status="active"] .unlocked-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maxa-trefa .challenges-section .challenge-card[data-status="active"] .card-countdown,
.maxa-trefa .challenges-section .challenge-card[data-status="active"] .vote-section {
	display: block;
}


.maxa-trefa .challenges-section .challenge-card[data-status="active"] .card-badge {
	background: #ffffff;
	color: #6000BF;
}

/* Zamčený stav */
.maxa-trefa .challenges-section .challenge-card[data-status="locked"] {
  background: linear-gradient(180deg, #000000 0%, #000000 15%, #6000BF 100%);
}
.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .locked-section {
	display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .card-badge {
	background: #6000BF;
	color: #ffffff;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .locked-bg-question {
	background-image: url('../img/otaznik-na-cernem-poli.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px 15px 0 0;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .locked-bg-question .challenge-type,
.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .locked-bg-question .publish-date {
	color: #ffffff;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .card-middle-names {
	display: flex;
  width: 100%;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .name-box {
  flex: 1;
  padding: 15px 5px;
  text-align: center;
  font-weight: 800;
  font-size: 0.9rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .light-box {
  background-color: #b5b5c3;
  color: #1a063b;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .dark-box {
  background-color: #6000BF;
  color: #fff;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .dotted-box {
  letter-spacing: -1px;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.5);
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .card-bottom-locked {
  padding: 40px 15px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0 0 15px 15px;
}

.maxa-trefa .challenges-section .challenge-card[data-status="locked"] .locked-info-text {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.4;
  text-transform: uppercase;
}

/* Ukončený stav */
.maxa-trefa .challenges-section .challenge-card[data-status="finished"] {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%), url('../img/podklad-challenge.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #6000BF;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .unlocked-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .ended-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 0 0 15px 15px;
	padding: 20px 15px;
	height: 100%;
}

.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .card-countdown,
.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .vote-section {
	display: none;
}

.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .ended-area p,
.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .ended-area h4 {
	text-align: center;
	color: #6000BF;
	margin: 5px 0;
}

.maxa-trefa .challenges-section .challenge-card[data-status="finished"] .maxa-trefa .challenges-section .vs-text {
	top: 20%;
}


/* ==========================================================================
   SEKCE VIDEA Z CHALLENGÍ 
========================================================================== */

.maxa-trefa .videos-section {
  padding: 10px 0 50px;
}

.maxa-trefa .video-title-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.maxa-trefa .challenges-title {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 1px;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.maxa-trefa .videos-grid-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.maxa-trefa .videos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 100%;
}

.maxa-trefa .video-card {
  background: rgba(25, 15, 45, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.maxa-trefa .video-card:hover {
  transform: translateY(-4px);
  border-color: rgba(255, 255, 255, 0.3);
}

.maxa-trefa .video-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.maxa-trefa .video-thumb-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.maxa-trefa .video-thumbnail iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.maxa-trefa .maxa-prize-section {
    width: 100%;
    position: relative;
    padding: 50px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    background-image: url('../img/podklad-havni-vyhra.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.maxa-trefa .maxa-prize-section .prize-container {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maxa-trefa .prize-container::before,
.maxa-trefa .prize-container::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    display: block; 
}
.maxa-trefa .prize-container::before {
        display: block;
        left: -33px;
    bottom: -71px;
    width: 108px;
    height: 170px;
        background-image: url('../img/fanousci.png');
        z-index: 1;
    }
    .maxa-trefa .prize-container::after {
        display: block;
        right: -36px;
    bottom: -80px;
    width: 135px;
    height: 220px;
        background-image: url('../img/fotbalista_hlavni-vyhra.png');
        z-index: 1;
    }

.maxa-trefa .maxa-prize-section .section-title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    margin: 0 0 15px;
}

.maxa-trefa .maxa-prize-section .prize-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    position: relative;
}

/* Kruh s textem a pozadím kruhu */
.maxa-trefa .maxa-prize-section .prize-circle {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 55px;
    box-sizing: border-box;
    background-image: url('../img/zlate-kolo-podklad.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.maxa-trefa .maxa-prize-section .circle-inner-text h3 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 8px 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.maxa-trefa .maxa-prize-section .circle-inner-text p {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
    margin: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.maxa-trefa .maxa-prize-section .buttons-prize-inner {
	display: flex;
	flex-direction: column;
	white-space: normal;
	word-break: break-word;
}

.maxa-trefa .maxa-prize-section .btn-discover {
	position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #6000BF;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1;
    width: 90px;
    height: 90px;
    background-image: url('../img/button.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 2;
}

.maxa-trefa .maxa-prize-section .btn-discover:hover {
    transform: translateY(-2px);
}

/* --- MODAL OKNO --- */
.maxa-trefa .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 0, 48, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.maxa-trefa .modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.maxa-trefa .modal-content {
  background: #18003c;
  border: 2px solid #FFB233;
  border-radius: 16px;
  padding: 35px 25px 30px 25px;
  max-width: 420px;
  width: 90%;
  position: relative;
  color: #ffffff;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  text-align: center;
}

.maxa-trefa .modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 1;
}

.maxa-trefa .modal-title {
  font-size: 1.4rem;
  font-weight: 900;
  color: #FFB233;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.maxa-trefa .modal-subtitle {
  font-size: 0.9rem;
  margin-bottom: 25px;
  color: #ffffff;
  text-align: center;
}

/* Formulář */
.maxa-trefa .vote-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.maxa-trefa .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 20px;
}

.maxa-trefa .form-group label {
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

.maxa-trefa .form-group input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  font-size: 0.9rem;
  outline: none;
}

.maxa-trefa .form-group input:focus {
  border-color: #FFB233;
  background: rgba(255, 255, 255, 0.15);
}

.maxa-trefa .form-group .agree-text {
	font-size: .9rem;
	font-weight: 400;
	text-transform: none;

}

.maxa-trefa .btn-submit {
  margin-top: 10px;
  padding: 12px;
  background: #FFB233;
  color: #6000BF;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.maxa-trefa .btn-submit:hover {
  background: #ffa000;
  transform: translateY(-2px);
}

.maxa-trefa #vote-modal.is-open {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.maxa-trefa #vote-modal.is-open .modal-overlay {
  opacity: 1;
  pointer-events: auto;
}
.maxa-trefa #vote-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, 0.7);
}

.maxa-trefa #vote-modal.is-open {
  display: flex;
}

.maxa-trefa .prize-detail-section {
	width: 100%;
	padding: 20px 0;
}

.maxa-trefa .prize-detail-container {
	margin: 0 auto;
	background: #f1eff8;
	border-radius: 20px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.maxa-trefa .prize-detail-content {
	flex: 1 1 100%;
  max-width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
}

.maxa-trefa .prize-subtitle {
	color: #6000BF;
	font-size: 0.9rem;
	font-weight: 800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 6px;
}

.maxa-trefa .prize-detail-title {
	color: #6000BF;
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.maxa-trefa .prize-checklist {
	list-style: none;
	padding: 0;
	margin: 0 0 25px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.maxa-trefa .prize-checklist li {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #6000BF;
	font-size: 0.88rem;
	font-weight: 700;
}

.maxa-trefa .check-icon {
	width: 18px;
	height: 18px;
	background: #31007d;
	stroke: #ffffff;
	border-radius: 50%;
	padding: 3px;
	flex-shrink: 0;
}

.maxa-trefa .btn-more-info {
	display: inline-block;
	background: #FFB233;
	color: #6000BF;
	font-size: 0.85rem;
	font-weight: 800;
	padding: 12px 24px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	transition: background 0.2s ease;
}

.maxa-trefa .btn-more-info:hover {
	background: #ffa000;
}

.maxa-trefa .prize-detail-media {
	flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 12px;
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;
}

.maxa-trefa .media-card {
	flex: 1;
	border-radius: 16px;
	overflow: hidden;
	height: 250px;
}

.maxa-trefa .card-stadium, 
.maxa-trefa .card-team {
  transform: none;
  width: 100%;
  height: 180px;
}

.maxa-trefa .media-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.maxa-trefa .plane-badge {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	background: #31007d;
	border: 3px solid #f1eff8;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.maxa-trefa .plane-icon {
	width: 28px;
	height: 28px;
	fill: #ffffff;
	transform: rotate(45deg);
}

/* Main end */

/* Footer */
.maxa-trefa .site-footer {
	display: block;
	padding: 3em 1em;
	margin: 0 auto;
	max-width: 950px;
	text-align: center;
}
.maxa-trefa .site-footer a {
	display: inline-block;
}
.maxa-trefa .footer-logo {
	width: 150px;
	height: auto;
}
.maxa-trefa .warning-img-mobile {
	display: block;
	height: auto;
	width: 100%;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	line-height: 1.1;
}
.maxa-trefa .warning-img-desktop {
	display: none;
	height: 40px;
	width: auto;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	line-height: 1.6;
}
.maxa-trefa .copyright {
	font-size: .9rem;
	font-weight: 400;
    text-align: center;
}
.maxa-trefa .bingo-preferences-center {
	color: #ffffff;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	padding: 1em 0 0;
}
.maxa-trefa .bingo-preferences-center:hover {
	color: #ffffff;
	text-decoration: underline;
}
.maxa-trefa .site-footer .text-image-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 0 2em;
}
.maxa-trefa .site-footer .footer-warning {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	gap: 10px;
}
.maxa-trefa .footer-warning img {
	width: auto;
	height: 30px;
}
.maxa-trefa .footer-warning p {
	color: #ffffff;
	font-size: .9rem;
	font-weight: 400;
	text-align: left;
	margin: 0;
}
.maxa-trefa .up-inner .title-hidden {
	visibility: hidden;
	overflow: hidden;
	display: none;
}
.maxa-trefa .up-inner .up {
	position: fixed;
	right: 1em;
	bottom: 1em;
	background-color: #6000BF;
	border: 1px solid #6000BF;
	border-radius: 5px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 9px;
	font-size: 1rem;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}
.maxa-trefa .up-inner svg {
	overflow: hidden;
    vertical-align: middle;
}



@media (min-width: 768px) {
	.maxa-trefa .navigation-wrapper-desktop ul {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.maxa-trefa .hero-section {
	padding: 60px 0 35px 0;
}
	.maxa-trefa .hero-content .hero-title {
	font-size: 2.8rem;
	line-height: 1.2;
	padding: 0;
}

.maxa-trefa .hero-container {
	gap: 30px;
}
.maxa-trefa .hero-content .badge-challenge {
	font-size: 4.5rem;
}
	.maxa-trefa .btn-button {
		padding: 15px 45px;
	}
	.maxa-trefa .section-banner {
		padding: 9em 0 3em;
	}
	.maxa-trefa .banner {
		gap: 11em;
	}
	.maxa-trefa .buttons-inner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		gap: 5px 22px;
	}
	.maxa-trefa .buttons-inner .box {
		width: auto;
	}
	.maxa-trefa .py-4 {
		padding: 4em 0;
	}
	.maxa-trefa .pt-2 {
		padding-top: 2em;
	}
	.maxa-trefa .text-button-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 0;
		padding: 1em 0 0;
	}
	.maxa-trefa .section {
		scroll-margin-top: 5em;
	}
	.maxa-trefa .steps-grid {
		flex-direction: row;
	}
	
	.maxa-trefa .step-card {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 0 25px;
	}
	.maxa-trefa .how-it-works-title {
	font-size: 1.8rem;
}
.maxa-trefa .prize-detail-container {
		flex-direction: row;
	}
	.maxa-trefa .prize-detail-media {
		width: 100%;
	}
	.maxa-trefa .footer-nav {
		flex-direction: row;
		justify-content: center;
		gap: 15px;
	}
    
	.maxa-trefa .footer-container {
	display: flex;
	flex-direction: row;
}
.videos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .maxa-trefa .info-bar-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }

  .maxa-trefa .info-bar-section {
	margin: -60px auto -70px auto;
}

  .maxa-trefa .info-bar-item {
    flex: 1;
    padding: 0 20px;
  }

  .maxa-trefa .info-bar-item:last-child {
    padding-bottom: 0;
  }
  .maxa-trefa .card-stadium {
    transform: rotate(-2deg);
  }

  .maxa-trefa .card-team {
    transform: rotate(1deg);
  }
  .maxa-trefa .prize-detail-content {
    flex: 1 1 420px;
    max-width: 450px;
    padding: 30px;
  }

  .maxa-trefa .prize-detail-media {
    flex: 1 1 500px;
    flex-direction: row;
    padding: 30px;
    width: 90%;
  }

  .maxa-trefa .card-stadium, 
  .maxa-trefa .card-team {
    height: auto;
  }
  .maxa-trefa .faq-bar-container {
    flex-direction: row;
    gap: 50px;
    text-align: left;
  }

  .maxa-trefa .faq-bar-content {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .maxa-trefa .maxa-video-section {
        padding: 60px 0 50px;
    }
    .maxa-trefa .videos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
    .maxa-trefa .maxa-prize-section {
        padding: 70px 40px;
    }

    .maxa-trefa .maxa-prize-section .section-title {
        font-size: 2rem;
    }

    .maxa-trefa .maxa-prize-section .prize-circle {
        width: 360px;
        height: 360px;
        padding: 45px;
    }

    .maxa-trefa .maxa-prize-section .circle-inner-text h3 {
        font-size: 1.5rem;
    }

    .maxa-trefa .maxa-prize-section .circle-inner-text p {
        font-size: 1rem;
    }
    .maxa-trefa .warning-img-mobile {
		display: none;
	}
	.maxa-trefa .warning-img-desktop {
		display: block;
	}

	.maxa-trefa .challenges-section {
		padding: 30px 0 60px 0;
	}

	.maxa-trefa .challenges-section .challenges-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .maxa-trefa .challenges-section .challenge-card[data-status="finished"] .maxa-trefa .challenges-section .vs-text {
	top: 15%;
}
    .maxa-trefa .step-text-inner {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.maxa-trefa .step-text {
	text-align: left;
}
.maxa-trefa .challenges-section .challenges-title {
	font-size: 2rem;
	margin: 0 0 20px;
}
.maxa-trefa .how-it-works-section {
	padding: 0 0 60px 0;
}
.maxa-trefa .challenges-title {
	font-size: 2rem;
}
.maxa-trefa .up-inner .up {
	right: 1.5em;
	bottom: 1em;
}
.maxa-trefa .prize-container::before {
        display: block;
        left: -30px;
        bottom: -95px;
        width: 345px;
        height: 450px;
        background-image: url('../img/fanousci.png');
        z-index: 1;
    }
    .maxa-trefa .prize-container::after {
        display: block;
        right: -20px;
        bottom: -120px;
        width: 295px;
        height: 460px;
        background-image: url('../img/fotbalista_hlavni-vyhra.png');
        z-index: 1;
    }
}

@media (min-width: 992px) {
	.maxa-trefa .site-header {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
	}
	.maxa-trefa .navigation-wrapper-desktop {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		position: relative;
		height: 110px;
		z-index: 99;
	}
	.maxa-trefa .navigation-wrapper-mobile {
		display: none;
	}
	.maxa-trefa .w-60 {
		width: 60%;
	}
	.maxa-trefa .title-h1 {
		font-size: 7rem;
	}
	.maxa-trefa .title-h2 {
		font-size: 2.8rem;
	}
	.maxa-trefa .title-h3 {
		font-size: 3.3rem;
	}
	.maxa-trefa .btn-wrapper {
		margin: 1em auto;
		text-align: right;
	}
	.maxa-trefa .text-block-inner {
	width: 80%;
}

.maxa-trefa .hero-container {
    	justify-content: space-between;
    	flex-wrap: nowrap;
    	padding: 0;
    	gap: 0;
	}
	.maxa-trefa .hero-content {
	flex: 1 1 550px;
    max-width: 550px;
    text-align: left;
}
.maxa-trefa .hero-content .hero-title {
	text-align: left;
}

.maxa-trefa .step-card {
		flex-direction: row;
	}
	.maxa-trefa .video-container::before,
.maxa-trefa .video-container::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    display: block; 
}
.maxa-trefa .video-container::before {
        left: -300px;
    top: 50%;
    transform: translateY(-50%);
    width: 170px;
    height: 100%;
        background-image: url('../img/zlaty-fotbalovy-mic.png');
        z-index: 1;
    }
    .maxa-trefa .video-container::after {
        right: -210px;
    top: 60%;
    transform: translateY(-50%);
    width: 100px;
    height: 100%;
        background-image: url('../img/zlaty-fotbalovy-mic.png');
        z-index: 1;
    }

}
@media(min-width: 1024px) {
	.maxa-trefa .navigation-wrapper-desktop .navigation-modify-container {
		gap: 40px;
	}
	.maxa-trefa .challenges-section .challenge-card {
  min-width: 225px;
}
    .maxa-trefa .videos-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .maxa-trefa .videos-section {
    padding: 60px 0 80px;
  }
  
  .maxa-trefa .video-title-wrapper {
    margin-bottom: 40px;
  }

  .maxa-trefa .maxa-video-section {
        padding: 80px 0; 
    }

    .maxa-trefa .golden-ball {
        display: block;
    }
    .maxa-prize-section {
        padding: 90px 60px;
    }

    .maxa-trefa .maxa-prize-section .section-title {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .maxa-trefa .maxa-prize-section .prize-circle {
        width: 500px;
        height: 500px;
        padding: 90px;
    }

    .maxa-trefa .maxa-prize-section .circle-inner-text h3 {
        font-size: 1.8rem;
    }

    .maxa-trefa .maxa-prize-section .circle-inner-text p {
        font-size: 1.1rem;
    }

    .maxa-trefa .maxa-prize-section .btn-discover {
    	position: absolute;
    	bottom: 0;
    	right: 0;
        padding: 20px;
        font-size: 1.5rem;
        line-height: 1.1;
        text-align: center;
    }
    .maxa-trefa .prize-container::before {
        display: block;
        left: -30px;
        bottom: -75px;
        width: 380px;
        height: 450px;
        background-image: url('../img/fanousci.png');
        z-index: 1;
    }
    .maxa-trefa .prize-container::after {
        display: block;
        right: -120px;
        bottom: -105px;
        width: 360px;
        height: 460px;
        background-image: url('../img/fotbalista_hlavni-vyhra.png');
        z-index: 1;
    }

}
@media(min-width: 1200px) {
	.maxa-trefa .navigation-wrapper-desktop .navigation-modify-container {
		gap: 25px;
	}
	.maxa-trefa .navigation-wrapper-desktop ul {
		gap: 13px 30px;
	}
    .maxa-trefa .prize-container::before {
    	bottom: -75px;
        left: 20px;
        width: 440px;
        height: 520px;
    }

    .maxa-trefa .prize-container::after {
        right: -113px;
        bottom: -110px;
        width: 420px;
        height: 530px;
    }
    .maxa-trefa .challenges-section .challenges-grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }
    .maxa-trefa .challenges-section .challenge-card {
    	min-width: 220px;
    }
    .maxa-trefa .hero-section {
	padding: 0 0 35px 0;
}
}
@media(min-width: 1400px) {
	.maxa-trefa .navigation-wrapper-desktop .navigation-modify-container {
		gap: 60px;
	}
}
